/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */
/* amiri-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/amiri-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* afacad-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/afacad-v3-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


body {
  margin: 0;
  border: 0;
}

h1 {
  font-size: 3.815rem;
  margin: 8px 0 4px;
  text-align: center;
  font-weight: bold;
  color: deeppink;
  font-family: 'Afacad';
}

h2 {
  font-size: 3.052rem;
  margin: 8px 0 4px;
  text-align: center;
  font-weight: bold;
}

p {
  font-size: 1rem;
  margin: 8px 0 4px;
  line-height: 1.6;
  color: deeppink;
  font-family: 'Amiri';
}

h1,
h2 {
  text-align: center;
  font-family: 'Afacad';
}

h3 {
  font-size: 1.2rem;
  margin: 8px 0 4px;
  text-align: center;
  font-weight: bold;
  color: deeppink;
  font-family: 'Afacad';
}

.movie-container {
  width: 80%;          
  margin: 0 auto;      
  text-align: center;  
}

.summary {
  text-align: center;
  max-width: 800px;   /*keeps the line length nice */
  margin: 0 auto 20px;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;

  background-image: url("images/pink.svg"); 
  background-size: cover;      
  background-repeat: no-repeat;
  background-attachment: fixed; /* optional */
}

/* CSS Grid Container */
.movie-container {
  display: grid;
  width: 70%;
  height: 70%;
  /*grid-template: repeat(3, 1fr) / repeat(4, 1fr);*/
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  gap: 5px;
}

.movie {
  text-align: center;
}
