.yellowhat {
	width: 200px;
	height: 200px;
	border-radius: 20px;
	float: right;
}

body {
	color: saddlebrown;
	background-color: #FFFDD4;
}

p {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;  
  font-style: normal;
}

h1, h2, h3 {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
}

html, body { height: 100%; margin: 0; }
body {
  background-image: url("geometic-leaves.png"); 
  background-size: cover;       
  background-position: center; 
  background-repeat: no-repeat; 
}

